In [97]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [98]:
crime_data = pd.read_csv('crime_data.csv')

In [99]:
crime_data[:5]

   Unnamed: 0  crime$cluster  Murder  Assault  UrbanPop  Rape
0     Alabama              4    13.2      236        58  21.2
1      Alaska              4    10.0      263        48  44.5
2     Arizona              4     8.1      294        80  31.0
3    Arkansas              3     8.8      190        50  19.5
4  California              4     9.0      276        91  40.6

In [100]:
crime_data = crime_data.drop('crime$cluster',axis=1)

In [101]:
crime_data.columns.values[0] = 'State'

In [102]:
crime_data.head()

        State  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6

In [103]:
crime_data.iloc[:,1:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
Murder      50 non-null float64
Assault     50 non-null int64
UrbanPop    50 non-null int64
Rape        50 non-null float64
dtypes: float64(2), int64(2)
memory usage: 1.6 KB

In [104]:
x = np.array(crime_data.iloc[:,1:3])

In [105]:
y = crime_data.iloc[:,0]

In [106]:
x[:5]

array([[ 13.2, 236. ],
       [ 10. , 263. ],
       [  8.1, 294. ],
       [  8.8, 190. ],
       [  9. , 276. ]])

In [107]:
from sklearn import cluster

In [108]:
# clf = cluster.KMeans(n_clusters=3)
# clf.fit(x)
# clf.predict(np.array([3,1,3,2]).reshape(1,-1))

In [113]:
class KMeansCustom:
    def __init__(self,k=2):
        self.k = k
    def fit(self,x,i=100,d=0.01):
        self.centroid_final={}
        #self.cluster_final = {}
        n = len(x)//(self.k+1)
        #self.result_dict = defaultdict(list)
        for cluster in range(self.k):
            #r = np.random.randint(len(x))
            self.centroid_final[cluster] = x[cluster*n]
        print("Previous : ")
            
#         for g in x:
#             plt.scatter(g[0],g[1])
#         for h in self.centroid_final.values():
#             plt.scatter(h[0],h[1],c='r',s=150)
#         plt.show()
        
        for rt in range(i):
            self.cluster_final = {}
            for p in range(self.k):
                self.cluster_final[p]=[]
            for j in x:
                l=[]
                for k_cluster in range(self.k):
                    l.append(np.linalg.norm(self.centroid_final[k_cluster]-j))
                self.cluster_final[l.index(min(l))].append(j)
            new_centroid_final = {}
            for cnt in self.cluster_final:
                new_centroid_final[cnt]=np.average(self.cluster_final[cnt],axis=0)
                
            #print('Current : ',new_centroid_final)
            
            count= 0
            for current_prev in self.centroid_final:
                tol = abs(np.sum(abs(self.centroid_final[current_prev] - new_centroid_final[current_prev])))
#                 print('resy  = ',abs(self.centroid_final[current_prev] - new_centroid_final[current_prev]))
#                 print('resy -ve  = ',self.centroid_final[current_prev] - new_centroid_final[current_prev])
                #print('tolerance  = ',tol)
                if(tol<=d):
                    count+=1
            if(count==self.k):
                break
            else:
                self.centroid_final = new_centroid_final
            
#             for g in x:
#                 plt.scatter(g[0],g[1])
#             for h in self.centroid_final.values():
#                 plt.scatter(h[0],h[1],c='r',s=150)
#             plt.show()
            
    def predict_c(self,l):
        dist = []
        
        for point in self.centroid_final:
            print('lin = ',np.linalg.norm(self.centroid_final[point]-l))
            print('l = ',l)
            diff = np.linalg.norm(self.centroid_final[point]-l)
            print('diff = ',diff)
            dist.append(diff)
        mn = min(dist)
        ind = dist.index(mn)
        print('index = ',ind)
        self.cluster_final[ind].append(l)
        col = ['r','g','b','yellow','aqua','cyan']
        for g in clf.cluster_final:
            for h in clf.cluster_final[g]:
                #print(h)
                plt.scatter(h[0],h[1],c=col[g],s=100)
        for h in self.centroid_final.values():     
            plt.scatter(h[0],h[1],c='cyan',s=150)
        plt.scatter(l[0],l[1],c='#F4E567',s=450,marker='*')
        plt.show()
        
            
            #break
            
#                     l.append([np.linalg.norm(self.centroid_final[k_cluster]-j),k_cluster])
#                 m = min(l)[1]
#                 self.result_dict[m].append(j)

In [114]:
clf1 = KMeansCustom(4)

In [115]:
clf1.fit(x)

Previous :

In [116]:
clf1.predict_c([13.6,236])

lin =  4.286309482479275
l =  [13.6, 236]
diff =  4.286309482479275
lin =  173.62693483443172
l =  [13.6, 236]
diff =  173.62693483443172
lin =  101.77020785945282
l =  [13.6, 236]
diff =  101.77020785945282
lin =  64.88211602276726
l =  [13.6, 236]
diff =  64.88211602276726
index =  0

AttributeError: 'KMeans' object has no attribute 'cluster_final'