In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'name':['Manish','MJ','Rana'],
    'locality':['HP','Noida','UP']
})

In [4]:
df

     name locality
0  Manish       HP
1      MJ    Noida
2    Rana       UP

In [5]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
df.columns

Index(['name', 'locality'], dtype='object')

In [7]:
df.set_index('name')

       locality
name
Manish       HP
MJ        Noida
Rana         UP

In [10]:
df = pd.DataFrame([('A','B','C'),(1,2,3)],columns=['AB','BC','CD'])
df

  AB BC CD
0  A  B  C
1  1  2  3

In [20]:
import quandl

In [15]:
df = pd.read_csv('iris.txt',delimiter=',')

In [16]:
df.head()

   Patel_L  Patel_W  Sapel_L  Sapel_W        Class
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa

In [17]:
df.tail()

     Patel_L  Patel_W  Sapel_L  Sapel_W           Class
145      6.7      3.0      5.2      2.3  Iris-virginica
146      6.3      2.5      5.0      1.9  Iris-virginica
147      6.5      3.0      5.2      2.0  Iris-virginica
148      6.2      3.4      5.4      2.3  Iris-virginica
149      5.9      3.0      5.1      1.8  Iris-virginica

In [18]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [19]:
df.columns

Index(['Patel_L', 'Patel_W', 'Sapel_L', 'Sapel_W', 'Class'], dtype='object')

In [21]:
df.Sapel_L[-5:]

145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Sapel_L, dtype: float64

In [23]:
df['Sapel_L'][-5:]

145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Sapel_L, dtype: float64

In [24]:
type(df.Sapel_L)

pandas.core.series.Series

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Patel_L    150 non-null float64
Patel_W    150 non-null float64
Sapel_L    150 non-null float64
Sapel_W    150 non-null float64
Class      150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [27]:
ds = df.describe()

In [28]:
ds

          Patel_L     Patel_W     Sapel_L     Sapel_W
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [29]:
ds.index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [30]:
ds.columns

Index(['Patel_L', 'Patel_W', 'Sapel_L', 'Sapel_W'], dtype='object')

In [32]:
ds.loc['min']

Patel_L    4.3
Patel_W    2.0
Sapel_L    1.0
Sapel_W    0.1
Name: min, dtype: float64

In [35]:
ds.loc['max']

Patel_L    7.9
Patel_W    4.4
Sapel_L    6.9
Sapel_W    2.5
Name: max, dtype: float64

In [36]:
ds.loc['max']['Patel_W']

4.4

In [39]:
#ds.at['max']['Patel_L']

In [42]:
ds.iloc[3]    #index wise extract

Patel_L    4.3
Patel_W    2.0
Sapel_L    1.0
Sapel_W    0.1
Name: min, dtype: float64

In [43]:
ds

          Patel_L     Patel_W     Sapel_L     Sapel_W
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [45]:
ds.iloc[-1]

Patel_L    7.9
Patel_W    4.4
Sapel_L    6.9
Sapel_W    2.5
Name: max, dtype: float64

In [46]:
df.head()

   Patel_L  Patel_W  Sapel_L  Sapel_W        Class
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa

In [47]:
df.Patel_L.min()

4.3

In [48]:
df.Patel_L.max()

7.9

In [49]:
df.Patel_L.values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [54]:
df[['Patel_L','Patel_W']].head()

   Patel_L  Patel_W
0      5.1      3.5
1      4.9      3.0
2      4.7      3.2
3      4.6      3.1
4      5.0      3.6

In [56]:
df[2:5][['Patel_L','Patel_W']]

   Patel_L  Patel_W
2      4.7      3.2
3      4.6      3.1
4      5.0      3.6

In [59]:
df.set_index(['Patel_L','Class']).head()

                     Patel_W  Sapel_L  Sapel_W
Patel_L Class
5.1     Iris-setosa      3.5      1.4      0.2
4.9     Iris-setosa      3.0      1.4      0.2
4.7     Iris-setosa      3.2      1.3      0.2
4.6     Iris-setosa      3.1      1.5      0.2
5.0     Iris-setosa      3.6      1.4      0.2

In [71]:
df.head(3)

             Patel_L  Patel_W  Sapel_L  Sapel_W
Class
Iris-setosa      5.1      3.5      1.4      0.2
Iris-setosa      4.9      3.0      1.4      0.2
Iris-setosa      4.7      3.2      1.3      0.2

In [69]:
df.set_index(['Class'])

KeyError: 'Class'

In [70]:
import quandl

In [ ]:
quandl.get('WIKI/GOOGL')